*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: black;
    display: grid;
    align-items: center;
}

h1{
    text-align: center;
}

.container{
     background:fuchsia;
     padding: 20px;
     border-radius: 15px;
     margin: 0 20px;
     max-width: 500px;
     align-items: center;
     margin-left: 32%;
     margin-top: 12%;
}
label{
    font-size: larger;
    font-weight: 500;
    margin-right: 10px;
}
input{
    border: none;
    padding: 10px;
    font-size: large;
    border-radius: 15px;
}
.btn{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
button{
    width: 50%;
    padding: 15px;
    font-size: medium;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: none;
}
span{
    font-size: bold;

}
ul{
    font-size: large;
}
li::marker{
    color: aquamarine;
}